* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}

.item {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: square-anim 4s linear infinite  ;
    animation-delay: 2s ;
    box-shadow: 0 0 100px blue;
}

@keyframes square-anim {
     0% {
        transform: translate(0,0);
     }
     25% {
        transform: translate(400px,0);
     }
     50% {
        transform: translate(400px,400px);
     }
     75% {
        transform: translate(0,400px);
     }
     100% {
        transform: translate(0,0);
     }
}